
/studentManagementSystem.Data/obj/
/studentManagementSystem.Data/bin/
/studentManagementSystem.Gui/obj/
/studentManagementSystem.Gui/bin/
/studentManagementSystem.Core/obj/
/studentManagementSystem.Core/bin/
