
/studentManagementSystem.Data/obj/
/studentManagementSystem.Data/bin/
/studentManagementSystem.Gui/obj/
/studentManagementSystem.Gui/bin/
/studentManagementSystem.Model/obj/
/studentManagementSystem.Model/bin/
/StudentManagementSystem.Unit/bin/
/StudentManagementSystem.Unit/obj/
/.vs/
